.footer-container{
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 50px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}