.gallery-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 150px;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.photo-thumbnail{
    width: 100%;
    border-radius: 20px;
}

.gallery-container .menu-container{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}

.menu-container h3{
    cursor: pointer;

}

.menu-container h3:hover{
    color: #00d2da
}