.menu-container{
    background-color: #393f44;
    padding: 12px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.menu-link{
    color: white;
    text-decoration: none;
    padding: 12px;
}

.menu-link.active{
    background-color: white;
    color: #393f44;
}
