/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }

  .header-container{
    text-align: center;
  }

  .mobile-menu-button{
    display: inherit;
  }

  .menu-container .content-container{
    display: none;
  }

  .details-container{
    display: flex;
    flex-direction: column;
  }

  .category-menu{
    position: sticky;
    top: 60px;
    order: -1;
  }

  .category-menu .menu-container{
    display: flex;
    justify-content: center;
  }

  .category-menu .menu-container h3{
    margin: 0 5px;
  }

  .content-container{
    margin: 10px;
  }

  .footer-grid{
    display: flex;
    flex-direction: column;
  }

  .footer-container{
    padding: 5px;
  }

  .contact-form{
    padding: 5px;
  }

  .gallery-container{
    display: flex;
    flex-direction: column;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }

  .header-container{
    margin: 10px!important;
  }

  .details-container{
    display: flex;
    flex-direction: column;
  }

  .category-menu{
    position: sticky;
    top: 60px;
    order: -1;
  }

  .category-menu .menu-container{
    display: flex;
    justify-content: center;
  }

  .category-menu .menu-container h3{
    margin: 0 5px;
  }

  .gallery-container{
    display: flex;
    flex-direction: column;
  }

  .content-container{
    margin: 10px;
  }

  .footer-grid{
    display: flex;
    flex-direction: column;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
