{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Test Web: {% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/1431fc21a4.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">

</head>

<body>

    <div>
        {% include "_header.html" %}
        {% include "_menu.html" %}

        <div class="content-container">
            {% block body %}
            {% endblock body %}
        </div>
    </div>

    {% include "_footer.html" %}

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
