<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titile %}{% endblock titile %}</title>
</head>
<body>
    <h1>PHOTOGRAPHICA</h1>
    <h3>Ha már unod az egyforma képeket...</h3>

    {% include "_menu.html" %}

    <hr>

    {% block body %}
    {% endblock body %}

    <hr>

    <h3>PHOTOGRAPHICA</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto consequatur distinctio dolor facere hic illo impedit itaque, mollitia non nulla obcaecati odio officiis possimus quibusdam reprehenderit repudiandae suscipit temporibus veritatis voluptate. Ab dolor excepturi, facere ipsum laborum libero molestias nisi provident quidem quis, sequi sint suscipit. Iure, nihil ut?</p>
</body>
</html>