{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylus Photography: {% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

    {% include "_header.html" %}

    {% include "_menu.html" %}

    <div class="content-container">
        {% block body %}
        {% endblock body %}
    </div>

    {% include "_footer.html" %}


</body>
</html>
