<div class="menu-container" id="menu-container">
    <i class="fas fa-bars menu-link mobile-menu-button" onclick="mobile_menu_clicked()"></i>

    <div class="content-container" id="nav-menu">
        <a href="/" class="menu-link {% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/gallery/" class="menu-link {% if request.path == '/gallery/' %}active{% endif %}">Gallery</a>
        <a href="/about/" class="menu-link {% if request.path == '/about/' %}active{% endif %}">About</a>
        <a href="/contact/" class="menu-link {% if request.path == '/contact/' %}active{% endif %}">Contact</a>
    </div>
</div>
