{% extends "_base.html" %}

{% block titile %}
    About
{% endblock titile %}

    {% block body %}
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error nemo optio. Alias architecto assumenda dicta dolor doloremque ea eaque enim eum ex explicabo illo ipsum iure labore natus obcaecati, porro praesentium quibusdam quidem quo sapiente sequi soluta suscipit vitae voluptate, voluptatum? Animi facilis illum iure necessitatibus quod repudiandae vitae?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam possimus quaerat vitae voluptates voluptatibus. Alias autem ea eos! Atque autem cupiditate eos ipsum odit porro, provident ratione! Libero, obcaecati, reprehenderit.</p>

    {% endblock body %}