{% extends "_base.html" %}

{% block title %}
    Gallery
{% endblock title %}


{% block body %}

    <div class="gallery-container">

        <div class="image-container">
            {% for photo in photos %}
                <a href="/gallery/{{ photo.slug }}">
                    <div class="photo-thumbnail" style="background-image: url({{ photo.image.url }})"></div>
                </a>
            {% endfor %}
        </div>

        <div class="category-menu">
            {% include "_category_menu.html" %}
        </div>
    </div>

{% endblock body %}
