{% extends "_base.html" %}

{% block title %}
    Gallery
{% endblock title %}


{% block body %}

    <div class="gallery-container">
        <div class="image-container">
            {% for photo_data in photos %}
                <a href="/gallery/photo-details"><img class="photo-thumbnail" src={{ photo_data.image }} alt=""></a>
            {% endfor %}
        </div>

        <div>
            <div class="menu-container">
                <h3>Nature</h3>
                <h3>Sport</h3>
                <h3>Wedding</h3>
                <h3>Travel</h3>
            </div>
        </div>
    </div>

{% endblock body %}

