{% extends "_base.html" %}

{% block title %}
    Gallery
{% endblock title %}


{% block body %}

    <div class="gallery-container">
        <div class="image-container">
            {% for photo in photos %}
                <a href="/gallery/{{ photo.slug }}">
                    <div class="photo-thumbnail" style="background-image: url({{ photo.image.url }})"></div>
                </a>
            {% endfor %}
        </div>

        <div>
            <div class="menu-container">
                {% for category in categories %}
                    <a href="/gallery/?category={{ category.title }}" class="category-menu{% if request.GET.category == category.title %}active{% endif %}"><h3>{{ category.title }}</h3></a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body %}
