{% extends '_base.html' %}

{% block title %}Photo Details{% endblock title %}

{% block body %}
    <div class="details-container">
        <img src="https://source.unsplash.com/1200x900/?nature,waterf" alt="">

        <div>
            <div class="photo-description-container">
                <h1>Photo Title</h1>
                <small>2020 09 12</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem blanditiis consequatur cupiditate doloremque doloribus ea eius eos eum fugit in ipsum magnam obcaecati officiis repudiandae saepe sunt ut, vero!</p>
            </div>
        </div>
    </div>

{% endblock body %}
